body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, #0f2d2c, #324542);
    color: white;
    margin: 0;
}

#backgroundImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: 300px;
}

#restartButton {
    margin: 3em;
    font-size: 2em;
    border-radius: 8px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 0.5em 1em;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

#restartButton:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}

div {
    position: relative;
}

p {
    position: absolute;
    font-size: 2em;
    z-index: 5;
    color: white;
    text-align: left;
    top: 30px;
    left: 10px;
    margin: 0;
}

canvas {
    margin: auto; /* Center the canvas horizontally */
    border: 1px solid #000; /* Optional: Add a border to the canvas */
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: white;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, #0f2d2c, #324542);
    color: white;
    margin: 0;
}

