body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
header {
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 100vw;
    height: 80vh
}

canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
}

footer {
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

